{% include "header.html" %}

    <div class="about-container">
        <h1 style="font-size:3vw">What is ReciPy?</h1>
        <p>ReciPy is a web app that uses Python to find recipes for your ingredients! </p>
        <ul>
            <li>Runs on Flask server</li>
            <li>Uses <a href="https://developer.edamam.com/" style="text-decoration:underline;" target="_blank">Edamam API</a></li>
            <li>Renders HTML with Jinja</li>
        </ul>
        <h1 style="font-size:3vw">Why this website?</h1>
        <p>For the <a href="https://codefirstgirls.org.uk/" style="text-decoration:underline;" target="_blank">Code First Girls</a> programming course and my vegan friends!</p>
        <p style="line-height:1.4;">This web app was built for my python course final project where I wanted to combine the web development knowledge. Thanks to the amazing instructors and fellow students at CFG community, I learnt a lot to be able to make this web app!</p>
    </div>

    <div class="social-menu">
        <ul>
          <li><a href="https://www.linkedin.com/in/clementine-liu/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://github.com/cl3m3nt1n3"target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.instagram.com/clementine.lark/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>

      </div>




{% include "footer.html" %}