<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🍽️ ReciPy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
      <section class="intro-container">
          <h1 class="branding"><a href="/">🍽️ ReciPy</a></h1>

        <nav>
          <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li>|</li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>

      </section>
    </header>
